{% extends "base.html" %}

{% block content %}

<div class="grid">

{% for product in products %}

<div class="card {% if product.has_messages %}chat-active{% endif %}">

<img src="{{ product.image.url }}"
onclick="toggleBar({{ product.id }})"
onmousedown="startPress(this)"
onmouseup="cancelPress()"
onmouseleave="cancelPress()"
ontouchstart="startPress(this)"
ontouchend="cancelPress()">

<div class="action-bar" id="bar-{{ product.id }}">

<button class="icon-btn"
onclick="window.location.href='/seller/{{ product.seller.username }}/'">
<i data-lucide="contact"></i>
</button>

<button class="icon-btn"
onclick="window.location.href='/save/{{ product.id }}/'">

{% if product.is_saved %}
<i data-lucide="bookmark-check"></i>
{% else %}
<i data-lucide="bookmark"></i>
{% endif %}

</button>

<button class="icon-btn"
onclick="window.location.href='/wishlist-toggle/{{ product.id }}/'">

{% if product.is_saved %}
<i data-lucide="heart" style="color:red;fill:red;"></i>
{% else %}
<i data-lucide="heart"></i>
{% endif %}

</button>

<button class="icon-btn"
onclick="window.location.href='/chat/{{ product.id }}/'">
<i data-lucide="message-circle"></i>
</button>

<button class="icon-btn"
onclick="shareProduct({{ product.id }})">
<i data-lucide="send"></i>
</button>

</div>

</div>

{% endfor %}

</div>

{% endblock %}